snippet notable "Add front matter for notable format" b
---
created: "`date -Is`"
modified: "`date -Is`"
title: "`!v expand('%:t:r')`"
tags: ["Notebooks/${1:Daily}"]
---

# `!v expand('%:t:r')`

endsnippet
