# Default config for sway
#
# Copy this to ~/.config/sway/config and edit it to your liking.
#
# Read `man 5 sway` for a complete reference.

### Variables
#
# Logo key. Use Mod1 for Alt.
set $mod Mod4
# Home row direction keys, like vim
set $left h
set $down j
set $up k
set $right l
# Your preferred terminal emulator
set $term kitty
# Your preferred application launcher
# Note: pass the final command to swaymsg so that the resulting window can be opened
# on the original workspace that the command was run on.
set $menu exec $term --class=launcher sway-launcher-desktop

## window config
for_window [app_id="launcher"] floating enable, sticky enable, resize set 30 ppt 60 ppt, border pixel 10
for_window [class="Display"] floating enable
for_window [class="Spotify"] move workspace "阮", workspace "阮"
for_window [app_id="org.qutebrowser.qutebrowser"] move workspace "qb", workspace "qb", fullscreen disable
for_window [title="Pan Icon" class="Display"] move position 0 ppt 0 ppt
no_focus [title="Pan Icon" class="Display"]
for_window [app_id="mpv"] floating enable, focus
for_window [app_id="gsconnect"] floating enable
for_window [title="Picture in picture"] floating enable
for_window [class="ScreenSaver"] fullscreen enable
for_window [class="Xboard"] floating enable

default_border none
### Output configuration
#
# Default wallpaper (more resolutions are available in /usr/share/backgrounds/sway/)

# Example configuration:
#
#   output HDMI-A-1 resolution 1920x1080 position 1920,0
output HDMI-A-2 {
		resolution 1600x900 position 0,0
	}
output eDP-1 {
		resolution 1920x1080 position 160,900
	}
output HEADLESS-1 {
		resolution 1024x768 position -864,1056
	}

# You can get the names of your outputs by running: swaymsg -t get_outputs

### Idle configuration
#
# Example configuration:
#
# exec swayidle -w \
#          timeout 300 'swaylock -f -c 000000' \
#          timeout 600 'swaymsg "output * dpms off"' resume 'swaymsg "output * dpms on"' \
#          before-sleep 'swaylock -f -c 000000'
#
# This will lock your screen after 300 seconds of inactivity, then turn off
# your displays after another 300 seconds, and turn your screens back on when
# resumed. It will also lock your screen before your computer goes to sleep.

### Input configuration
#
# Example configuration:
#
input "2:18:FocalTechPS/2_FocalTech_Touchpad" {
	dwt enabled
	tap enabled
	natural_scroll enabled
	middle_emulation enabled
}

input "1:1:AT_Translated_Set_2_keyboard" {
	xkb_options 'compose:caps'
}

# You can get the names of your inputs by running: swaymsg -t get_inputs
# Read `man 5 sway-input` for more information about this section.


### Key bindings
#
# Basics:
#
# Start a terminal
bindsym $mod+Return exec $term
bindsym $mod+d exec wofi --show run

# Kill focused window
bindsym $mod+q kill

# Start your launcher
bindsym $mod+a exec $menu

# Drag floating windows by holding down $mod and left mouse button.
# Resize them with right mouse button + $mod.
# Despite the name, also works for non-floating windows.
# Change normal to inverse to use left mouse button for resizing and right
# mouse button for dragging.
floating_modifier $mod normal

# Reload the configuration file
bindsym $mod+Shift+c reload

# Exit sway (logs you out of your Wayland session)
# nag

set {
  $nag         exec swaynagmode
  $nag_exit    $nag --exit
  $nag_confirm $nag --confirm
  $nag_select  $nag --select
}
mode "nag" {
  bindsym {
    Ctrl+d    mode "default"

    Ctrl+c    $nag_exit
    q         $nag_exit
    Escape    $nag_exit

    Return    $nag_confirm

    Tab       $nag_select prev
    Shift+Tab $nag_select next

    Left      $nag_select next
    Right     $nag_select prev

    Up        $nag_select next
    Down      $nag_select prev
  }
}
bindsym {
  $mod+Shift+q $nag -t "warning" -m "Exit Sway?" -b "Exit" "swaymsg exit" -b "Reload" "swaymsg reload"
}
# -R is recommended for swaynag_command so that, upon a syntax error in your sway config, the
# 'Reload Sway' option will be initially selected instead of the 'Exit Sway' option
swaynag_command $nag -R
#
# Moving around:
#
# Move your focus around
bindsym $mod+$left focus left
bindsym $mod+$down focus down
bindsym $mod+$up focus up
bindsym $mod+$right focus right
# Or use $mod+[up|down|left|right]
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# Move the focused window with the same, but add Shift
bindsym $mod+Shift+$left move left
bindsym $mod+Shift+$down move down
bindsym $mod+Shift+$up move up
bindsym $mod+Shift+$right move right
# Ditto, with arrow keys
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right
#
# Workspaces:
#
# Switch to workspace
bindsym $mod+1 workspace number 1
bindsym $mod+2 workspace number 2
bindsym $mod+3 workspace number 3
bindsym $mod+4 workspace number 4
bindsym $mod+5 workspace number 5
bindsym $mod+6 workspace number 6
bindsym $mod+7 workspace number 7
bindsym $mod+8 workspace number 8
bindsym $mod+9 workspace number 9
bindsym $mod+0 workspace number 10
# Move focused container to workspace
bindsym $mod+Shift+1 move container to workspace number 1
bindsym $mod+Shift+2 move container to workspace number 2
bindsym $mod+Shift+3 move container to workspace number 3
bindsym $mod+Shift+4 move container to workspace number 4
bindsym $mod+Shift+5 move container to workspace number 5
bindsym $mod+Shift+6 move container to workspace number 6
bindsym $mod+Shift+7 move container to workspace number 7
bindsym $mod+Shift+8 move container to workspace number 8
bindsym $mod+Shift+9 move container to workspace number 9
bindsym $mod+Shift+0 move container to workspace number 10

# move workspace to output
bindsym $mod+Control+Shift+$left  move workspace to output left
bindsym $mod+Control+Shift+$right move workspace to output right
bindsym $mod+Control+Shift+$up    move workspace to output up
bindsym $mod+Control+Shift+$down  move workspace to output down
# move workspace to output with arrow keys
bindsym $mod+Control+Shift+Left  move workspace to output left
bindsym $mod+Control+Shift+Right move workspace to output right
bindsym $mod+Control+Shift+Up    move workspace to output up
bindsym $mod+Control+Shift+Down  move workspace to output down


# move container to output
bindsym $mod+Home	move container to output left
bindsym $mod+End	move container to output right
bindsym $mod+Prior	move container to output up
bindsym $mod+Next	move container to output down

# Note: workspaces can have any name you want, not just numbers.
# We just use 1-10 as the default.
#
# Layout stuff:
#
# You can "split" the current object of your focus with
# $mod+b or $mod+v, for horizontal and vertical splits
# respectively.
bindsym $mod+b splith
bindsym $mod+v splitv

# Switch the current container between different layout styles
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# Make the current focus fullscreen
bindsym $mod+f fullscreen

# Toggle the current focus between tiling and floating mode
bindsym $mod+Shift+space floating toggle

# Swap focus between the tiling area and the floating area
bindsym $mod+space focus mode_toggle

# Move focus to the parent container
# bindsym $mod+a focus parent
#
# Scratchpad:
#
# Sway has a "scratchpad", which is a bag of holding for windows.
# You can send windows there and get them back later.

# Move the currently focused window to the scratchpad
bindsym $mod+Shift+minus move scratchpad

# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
bindsym $mod+minus scratchpad show

# functional keys
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86MonBrightnessDown exec brightnessctl set 5%-
bindsym XF86MonBrightnessUp exec brightnessctl set +5%
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous
bindsym XF86Search exec bemenu-run
bindsym XF86ScreenSaver exec kitty --class=ScreenSaver cmatrix -s
bindsym XF86TouchpadToggle input type:touchpad events toggle enabled disabled
bindsym Print exec sway-interactive-screenshot
set $swaylock-fancy  "swaylock --screenshots --clock --indicator --indicator-radius 100 \
	--indicator-thickness 7 --effect-blur 7x5 --effect-vignette 0.5:0.5 --ring-color bb00cc \
	--key-hl-color 880033  --line-color 00000000 --inside-color 00000088 --separator-color 00000000 \
	--grace 2  --fade-in 0.2"

bindsym XF86Sleep exec $swaylock-fancy


#
# Resizing containers:
#
mode "resize" {
# left will shrink the containers width
# right will grow the containers width
# up will shrink the containers height
# down will grow the containers height
	bindsym $left resize shrink width 10px
		bindsym $down resize grow height 10px
		bindsym $up resize shrink height 10px
		bindsym $right resize grow width 10px

# Ditto, with arrow keys
		bindsym Left resize shrink width 10px
		bindsym Down resize grow height 10px
		bindsym Up resize shrink height 10px
		bindsym Right resize grow width 10px

# Return to default mode
		bindsym Return mode "default"
		bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

bindsym $mod+p exec clipman pick -t wofi

bindsym $mod+c exec goldendict $(wl-paste -p)

bindsym $mod+n exec swaync-client -t -sw

#
# Status Bar:
#
# Read `man 5 sway-bar` for more information about this section.
# https://github.com/Alexays/Waybar/pull/1244 for waybar
bar {
	swaybar_command waybar
	mode hide
}

exec_always ~/Documents/Code/Shell/change-wallpaper
exec swayidle -w  timeout 1000 $swaylock-fancy  timeout 1010 'swaymsg "output * dpms off"' \
	resume 'swaymsg "output * dpms on"'  before-sleep 'swaylock-fancy'

# Startups
exec fcitx5 -d
exec swaync
exec pkill wl-paste
exec gsconnect
exec wl-paste -t text --watch clipman store
# set themes for XWayland
# https://github.com/swaywm/sway/issues/4760
exec /usr/libexec/gsd-xsettings
exec dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=sway
